@charset "UTF-8";
* {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom,#36494e,#3e5535);
    background-attachment: fixed;
}
div >p {
    display: none;
}
div:hover >p {
    display: block;
}
div:hover {
    width: 60px;
    height: 130px;
    background-color: cyan;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}
img {
    width: 950px;
   margin: auto;
}

