@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom,#115266,#29C3F2);
    background-attachment: fixed;
}
div:hover{
  background-color: black;
}
div >p {
    display: none;
}
div:hover >p{
    display: block;
    color: white;
    width: 200px;
    height: 200px;
}